:root {
  --pale-green: rgb(231, 243, 234);
  --apple-green: rgb(169, 206, 123);
  --pale-peach: rgb(253, 234, 223);
  --violet: rgb(236, 97, 159);
  --mint-green: rgb(133, 200, 175);
  --dark-green: rgb(72, 145, 120);
  --coral: rgb(239, 122, 98);
}

/* Google Fonts CSS */

/* Handwriting upright neat printing */
.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Handwriting script looks like chalk */
.homemade-apple-regular {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Organic-looking fat outlined letters */
.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Plain sans-serif typeface */
.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Plain serif typeface */
.lora-regular {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Handwriting plain printing with slight backwards slant */
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Grid container for flower pots */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

.grid-item {
  padding: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

/* sign in/ sign up page form styling */
.signin-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.signin-form,
.signup-form {
  background-color: var(--pale-green);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 20px;
}

.signin-form h2,
.signup-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.signin-form input,
.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-form button,
.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-green);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-form button:hover,
.signup-form button:hover {
  background-color: #0056b3;
}

/* Navbar styling */
.navbar {
  background-color: var(--pale-peach);
  padding: 1rem;
}

.navbar button {
  font-size: large;
  width: 100%;
  padding: 10px;
  background-color: var(--dark-green);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links {
  list-style: none; /* Remove bullet points */
  padding: 0px; /* Remove default padding */
  margin: 0; /* Remove default margin */
  margin-bottom: 1px;
  display: flex; /* Display links horizontally */
  justify-content: flex-end; /* Align items to the right */
}

.nav-link {
  text-decoration: none; /* Remove default underline */
  color: #000000; /* Set link color */
  font-size: larger;
  padding: 1rem; /* Add padding to links */
}

.nav-link.active {
  font-weight: bold; /* Make active link bold */
  color: #0b5021; /* Change color of active link */
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Styling for header  */
.headerImage {
  width: 100%; /* Set the width to 100% of the viewport width */
  height: calc(
    100vw * 9 / 16
  ); /* Calculate the height based on the 16:9 aspect ratio */
  max-height: 200px; /* Optional: Set a maximum height to prevent the image from becoming too large */
  object-fit: cover;
}

/* Styling for Activity Log */
.flexSpaceBetween {
  display: inline-flex;
}

.activityLogMain {
  background-color: var(--pale-peach);
  padding: 8px;
  width: fit-content;
  margin-top: 10px;
}

.activityLogMain h3 {
  margin-top: 1px;
  margin-right: 1rem;
  font-size: 25px;
}

.newActivityButton {
  height: 40px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 10px;
  background-color: var(--dark-green);
  color: #fff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.activityLogMain li{
  list-style-type: none;
}
